

/* Button text */
div.stButton > button {
    color: #3e4c59 !important;
}

/* Dropdown options and selected value */
li[role = 'option'] {
    color: #3e4c59 !important;
}

div.stSelectbox div[data-baseweb = 'select'] > div {
    color: #3e4c59 !important;
}

/* Checkbox label */
div[data-testid = 'stCheckbox'] label p {
    color: #7d828c !important;
    font-size: 0.85rem;
    font-weight: 450;
}

/* Only normal Markdown text */
div[data-testid="stMarkdownContainer"] p {
    color: #3e4c59 !important;
}

